body{
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #000;
}

h1{
    font-size: 60px;
    font-weight: 500;
    line-height: 1.28;

    margin: 0;
}

h2{
    font-size: 40px;
    font-weight: 500;
    margin: 0;
}

h3{
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    
}

h4{
    font-size: 20px;
    margin: 0;
}

p{
    font-size: 18px;
    margin: 0;
    line-height: 1.28;
}


/* Container */
.container{
    width: 100%;
    max-width: 1240px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.container--intro{
    display: flex;
    justify-content: space-between;
}

.container--logos{
    display: flex;
    justify-content: space-between;
}


/* Header */
.header{
    display: flex;
    align-items: center;
    margin-top: 60px;
    height: 68px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    display: inline-block;
}

.header__logo img{
    display: block;
    width: auto;
    height: auto;
}


/* navigation */
.nav__link{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin-right: 40px;
}

.nav__link:last-child{
    margin: 0;
}

.nav__link--click{
    padding: 20px 35px;
    border: #000 1px solid;
    border-radius: 15px;
}


/* Intro */
.intro{
    margin: 70px 0;
    height: 515px;
}

.intro__info{
    display: inline-block;
    justify-content: space-between;
    width: 44%;
    height: 93%;
}

.intro__info__suptitle{
    width: 94%;

    font-size: 20px;
    font-weight: 400;
    margin: 35px 0;
    line-height: 1.4;
}

.info__intro__btn{
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #191A23;
    padding: 20px 35px;
    border-radius: 15px;

    cursor: pointer;
    border: 0;
}

.intro__img{
    display: inline-block;
    width: 50%;
}

.intro__img img{
    width: 100%;
}


/* Logo */
.logos{
    height: 48px;
    margin-bottom: 139px;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo__img{
    height: 60%;
    filter: grayscale(100%);
}


/* Services */
.services__widgets{
    margin-top: 51px;
}

.services__beginning__title{
    display: inline-block;
    padding: 0 7px;
    background-color: #B9FF66;
    border-radius: 10px;
}

.services__beginning__suptitle{
    display: inline-block;
    width: 48%;
    margin-left: 40px;
}

.services__widgets__lines{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 310px;
    margin-bottom: 40px;
}

.services__widgets__lines__unit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 596px;
    height: 100%;
    border: 2px solid #000;
    border-radius: 50px;
}

.services__widgets__lines__unit--grey{
    background-color: #f3f3f3;
}

.services__widgets__lines__unit--green{
    background-color: #B9FF66;
}

.services__widgets__lines__unit--black{
    background-color: #191A23;
}


/* Widgets */
.widgets__info{
    display: inline-block;
    height: 210px;
    margin: 50px;
    margin-right: 61px;
}

.widgets__info--flex{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: top;
}

.widget__info__title{
    height: 38px;
    display: flex;
    align-items: center;
    margin-bottom: -1px;

    padding: 0 7px;
    border-radius: 10px;
    width: fit-content;
}

.widget__info__title--green{
    background-color: #B9FF66;
}

.widget__info__title--white{
    background-color: #f3f3f3;
}

.widget__btn{
    display: flex;
    align-items: center;
}

.widget__info__btn{
    display: inline;
    font-size: 20px;
    margin-left: 15px;
}

.widget__info__btn--white{
    color: #fff;
}

.widget__info__btn__img{
    display: inline;
    height: 41px;
    width: 41px;
}

.widgets__img{
    vertical-align: top;
    padding: 0;
    margin-right: 50px;
    width: 210px;
}