body{
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #000;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1{
    font-size: 60px;
    font-weight: 500;
    line-height: 1.28;

    margin: 0;
}

h2{
    font-size: 40px;
    font-weight: 500;
    margin: 0;
}

h3{
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    
}

h4{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

p{
    font-size: 18px;
    margin: 0;
    line-height: 1.28;
}

hr{
    width: 100%;
    height: 1px;
    background-color: #000;
    border: 0;
    margin: 28px 0;
}

/* Container */
.container{
    width: 100%;
    max-width: 1240px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.container--intro{
    display: flex;
    justify-content: space-between;
}

.container--logos{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/* Header */
.header{
    display: flex;
    align-items: center;
    margin-top: 60px;
    height: 68px;
}

.header--footer{
    width: 100%;
    max-width: 1121px;
    margin: 0 auto;
}

.header__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner--footer{
    margin-top: 55px;
}

.header__logo{
    display: inline-block;
}

.header__logo img{
    display: block;
    width: auto;
    height: auto;
}

.header__logo--footer img{
    display: inline-block;
    width: 180px;
    height: auto;
}

.header__img{
    margin-right: 20px;
    width: 40px;
}

.header__img:last-child{
    margin: 0;
}

.header__imgs--second{
    display: none;
}



/* Navigation */
.nav__link{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin-right: 40px;
}

.nav__link:last-child{
    margin: 0;
}

.nav__link--click{
    padding: 20px 35px;
    border: #000 1px solid;
    border-radius: 15px;
}

.nav__link--click--footer{
    border-color: #fff;
    font-weight: 400;
}

.nav__link--footer{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.nav__menu{
    position: relative;

    width: 32px;
    height: 2px;

    background: #191A23;
    border: none;
    cursor: pointer;
    padding: 0;
    border-radius: 2px;
    display: none;
    
    margin: auto 0 auto 22px;
}

.nav__menu.focus{
    outline: none;
}


.nav__menu::before,
.nav__menu::after{
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: #191A23;
    left: 0;
    border: none;
    
    border-radius: 2px;
}

.nav__menu::before{
    top: -10px;
}

.nav__menu::after{
    top: 10px;
}


/* Intro */
.intro{
    margin: 70px 0;
    height: 100%;
    min-height: 515px;
}

.intro__info{
    display: inline-block;
    justify-content: space-between;
    width: 44%;
    height: 93%;
}

.intro__info__title--unvisible{
    display: none;
}

.intro__info__suptitle{
    width: 94%;

    font-size: 20px;
    font-weight: 400;
    margin: 35px 0;
    line-height: 1.4;
}

.intro__info__suptitle--unvisible{
    display: none;
}

.info__intro__btn{
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #191A23;
    padding: 20px 35px;
    border-radius: 15px;

    cursor: pointer;
    border: 0;
}

.info__intro__btn--unvisible{
    display: none;
}

.intro__img{
    display: inline-block;
    width: 50%;
}

.intro__img img{
    width: 100%;
}


/* Logo */
.logos{
    height: auto;
}

.logo{
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.logo__img{
    display: block;
    height: 28.8px;
    filter: grayscale(100%);
}


/* Beggining */
.beginning{
    margin-top: 140px;
    margin-bottom: 80px;
}

.beginning--testimonials{
    margin-top: 100px;
}

.beginning__title{
    display: inline-block;
    padding: 0 7px;
    background-color: #B9FF66;
    border-radius: 10px;
}

.beginning__title--unvisible{
    display: none;
    margin-bottom: 0;
    height: 40px;
    align-items: center;
}

.beginning__suptitle{
    display: inline-block;
    margin-left: 40px;
}

.beginning__suptitle--services{
    width: 580px;
}

.beginning__suptitle--case{
    width: 580px;
}

.beginning__suptitle--testimonials{
    width: 39%;
}

.beginning__suptitle--contact{
    width: 323px;
}


/* Services */
.services__widgets__lines{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 310px;
    margin-bottom: 40px;
}

.services__widgets__lines__unit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 596px;
    height: 100%;
    border: 2px solid #000;
    border-radius: 50px;
}

.services__widgets__lines__unit--grey{
    background-color: #f3f3f3;
}

.services__widgets__lines__unit--green{
    background-color: #B9FF66;
}

.services__widgets__lines__unit--black{
    background-color: #191A23;
}


/* Widgets */
.widgets__info{
    display: flex;
    height: 210px;
    margin: 50px;
    margin-right: 0;
}

.widgets__info--flex{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: top;
}

.widget__info__title{
    height: 38px;
    width: auto;
    display: flex;
    align-items: center;
    margin-bottom: -1px;

    padding: 0 7px;
    border-radius: 10px;
    width: fit-content;
}

.widget__info__title--green{
    background-color: #B9FF66;
}

.widget__info__title--white{
    background-color: #f3f3f3;
}

.widget__btn{
    display: flex;
    align-items: center;
}

.widget__info__btn{
    display: inline;
    font-size: 20px;
    margin-left: 15px;
}

.widget__info__btn--white{
    color: #fff;
}

.widget__info__btn__img{
    display: inline;
    height: 41px;
    width: 41px;
}

.widget__info__btn__img--unvisible{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

.widgets__img{
    vertical-align: top;
    position: absolute;
    padding: 0;
    right: 0;
    width: 210px;
}

.widget__low{
    width: 210px;
    height: 200px;
    margin: 0 auto;
    align-items: center;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    position: relative;
}


/* Banner */
.banner{
    margin-top: 146px;
}

.banner__area{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 347px;
    background-color: #f3f3f3;
    border-radius: 50px;

    border-top: 1px solid transparent;
}

.banner__info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 60px 180px 60px 60px;
    height: 227px;
    width: 500px;
}   

.banner__title{
    line-height: 1.2;
}

.banner__btn{
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    text-decoration: none;
    color: #fff;
    padding: 20px 35px;
    border-radius: 15px;
    background-color: #191A23;
    border: 0;
}

.banner__btn--team{
    display: inline-block;
    margin-right: 0;
    padding: 20px 78px;
}

.banner__img{
    width: 359px;
    height: 394px;
}


/* Cases */
.cases__area{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 326px;
    background-color: #191A23;
    border-radius: 50px;
}

.cases__all{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 23%;
    margin: 0 64px;
}

.cases__info{
    width: 100%;
}

.cases__all::after{
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 186px;
    background-color: #fff;
    right: -23%;

}

.cases__all:last-child::after{
    display: none;
}

.cases__all:first-child{
    margin-left: 60px;
}

.cases__all:last-child{
    margin-right: 60px;
}

.cases__text{
    color: #fff;
    width: 100%;
    margin-bottom: 20px;
    
}

.cases__btn{
    color: #B9FF66;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cases__btn__img{
    margin-left: 15px;
    width: 25px;
    height: 25px;
}


/* Work */
.work__lines{
    display: flex;
    align-items: center;
    height: 159px;
    background-color: #f3f3f3;
    border-radius: 50px;
    border: 1px solid #000;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 1);
    margin-bottom: 30px;
}

.work__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    position: relative;
}

.work__num{
    font-size: 60px;
    font-weight: 500;
    margin-right: 25px ;
}

.work__text{
    font-size: 30px;
    font-weight: 500;
    margin-right: 100px;
}

.work__btn{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 58px;
}


/* Team */
.team__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}


.team__unit{
    width: 100%;
    height: 331px;
    border: 1px solid #000;
    border-radius: 50px;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 1);
}

.team__all{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2 auto);
    gap: 40px;
}

.team__info{
    width: 82%;
    margin: 0 auto;
    margin-top: 40px;

}

.team__title{
    position: relative;
    display: flex;
    flex-direction: row;
}

.team__img{
    width: 100px;
}

.team__title__text{
    margin-top: auto;
    margin-left: 20px;
}

.team__share{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.team__share img{
    display: block;
    width: 34px;
    height: 34px;
}

.team__btn{
    text-align: right;
    margin-top: 40px;
}


/* Testimonials */
.slider{
    height: 625px;
    border-radius: 50px;
    background-color: #191A23;
    overflow: hidden;
}

.slider__area{
    height: 473px;
    margin-top: 84px;
    position: relative;  
}

.slider__cards{
    display: flex;
    flex-direction: row;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.slider__card{
    margin-right: 50px;
}

.slider__card:last-child{
    margin-right: 0;
}

.slider__fig{
    position: relative;
    width: 606px;
}

.slider__text{
    position: absolute;
    top: 0;
    color: #fff;
    width: 82%;
    margin: 48px 52px;
}

.slider__info{
    margin-top: 20px;
    margin-left: 80px;
}

.slider__info__name{
    color: #B9FF66;
}

.slider__info__job{
    color: #fff;
}


/* Fig */
.fig{
    width: 606px;
    height: auto;
}

.fig:last-child{
    margin-right: 0;
}


/* Navigation */
.navigation{
    position: absolute;
    width: 46%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navigation__area{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navigation__stars{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation__star{
    width: 14px;
    height: auto;
    margin-right: 19px;
}

.navigation__star:last-child{
    margin-right: 0;
}

.navigation__arrow{
    width: 25px;
    color: #B9FF66;
    height: auto;
}

.navigation__arrow--right{
    position: absolute;
    right: 0;
}

.navigation__arrow--left{
    transform: rotate(180deg);
    opacity: .3 ;
}


/* Comtact */
.contact__block{
    background-color: #f3f3f3;
    border-radius: 50px;
    height: 773px;
    overflow: hidden;
    margin-bottom: 200px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.contact__form{
    display: flex;
    flex-direction: column;
    width: 46%;
    margin-top: 60px;
    margin-left: 100px;
    z-index: 10;
    position: relative;
}

.contact__form textarea{
    resize: none;
    height: 186px;
}

.contact__form textarea::placeholder{
    position: absolute;
    top: 18px;
}

.contact__form input::placeholder{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.contact__img{
    height: 648px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 1;
}

/* Form */
.form__label{
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
}



.form__input{
    position: relative;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0 0 0 30px;
    font-size: 18px;
    font-weight: 400;
    height: 55px;
}

.form__btn{
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 18px;
    border-radius: 18px;
    background-color: #191A23;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}


/* Check */
.check{
    left: 0;
    margin-bottom: 15px;
    width: 100%;
}

.check__unit{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}

input[type="radio"]{
    cursor: pointer;
    appearance: none;
    width: 28px;
    height: 28px;
    border: 1px solid #000;
    border-radius: 50%;
    position: relative;
    margin: 0;
    margin-right: 14px;
}

input[type="radio"]:checked::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #B9FF66;
}

.check__radio__text{
    font-size: 18px;
    margin-right: 35px;
}

.check__radio__text:last-child{
    margin-right: 0;
}


/* Footer */
.footer__all{
    padding: 0 50px;
    background-color: #191A23;
    height: 514px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
}

.footer__main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin: 0 auto;
    height: 185px;
    margin-top: 66px;
}

.footer__suptitle{
    color: #fff;
    margin-top: 20px;
}

.footer__suptitle:first-child{
    margin-top: 27px;
}

.footer__suptitle:last-child{
    margin: 0;
}

.footer__form__area{
    width: 57%;
    height: 185px;
    background-color: #292A32;
    border-radius: 15px;
    position: relative;
}

.footer__form{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 35px;
    height: 63px;
    display: flex;
}

.footer__input{
    width: 250px;
    height: 63px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 15px; 
    padding-left: 35px;
    position: relative;
}

.footer__input::placeholder{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.footer__btn{
    font-size: 20px;
    text-decoration: none;
    color: #000;
    padding: 15px 35px;
    background-color: #B9FF66;
    border-radius: 15px;
    margin-bottom: auto;
    vertical-align: middle;
    margin-left: 20px;
}

.footer__hr{
    width: 100%;
    max-width: 1120px;
    margin: 50px auto;
    height: 1px;
    background-color: #fff;
}

.footer__end{
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    display: flex;
    flex-direction: row;
}

.footer__end__link{
    margin-left: 40px;
    color: #fff;
}


@media(max-width: 1242px){
    /* Services */
    .services__widgets__lines{
        height: 100%;
        flex-direction: column;
        margin-bottom: 0;
        margin: 0 auto;
    }

    .services__widgets__lines__unit{
        margin: 0 auto;
        margin-bottom: 40px;
        max-width: 700px;
        width: 95%;
    }


    /* Widgets */
    .widgets__info{
        margin-left: 50px;
    }

    .widget__title{
        margin: 0;
    }

    .widget__low{
        margin-right: 50px;
    }

    .widgets__img{
        position: absolute;
        padding: 0;
        margin-right: 0;
        right: 0;
    }
}



@media(max-width: 1200px){
    /* Container */
    .container--intro{
        flex-direction: column;
    }


    /* Navigation */
    .nav{
        display: none;
    }

    .nav--footer{
        display: block;
    }

    .nav__menu{
        display: block;
    }


    /* Intro */
    .intro__info{
        display: none;
    }

    .intro__info__title--unvisible{
        display: block;
        text-align: center;
    }

    .intro__info__suptitle--unvisible{
        display: block;
    }

    .info__intro__btn--unvisible{
        display: block;
    }

    .intro__img{
        width: 90%;
        margin: 10px auto 0 auto;
    }


    /* Team */
    .team__all{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }


    /* Footer */
    .footer__all{
        height: 900px;
    }

    .footer__main{
        display: block;
        height: auto;
        text-align: center;
    }

    .footer__info{
        margin-bottom: 50px;
    }

    .footer__form__area{
        margin: 0 auto;
    }

    .footer__form{
        flex-direction: column;
        height: 150px;
        margin: 0 auto;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .footer__btn{
        margin: 20px 0 0 0;
    }

    .footer__end{
        flex-direction: column;
        text-align: center;
    }

    .footer__end__link{
        margin: 0;
    }

    .header__imgs--first{
        display: none;
    }

    .header__imgs--second{
        display: block;
        margin-top: 25px;
    }

}

@media(max-width: 992px){
    h1{
        font-size: 43px;
    }

    h2{
        font-size: 36px;
    }

    h3{
        font-size: 26px;
    }

    h4{
        font-size: 18px;
    }

    p{
        font-size: 16px;
    }


    /* Header */
    .header--footer{
        height: auto;
    }

    .header__inner--footer{
        flex-direction: column;
    }


    /* Navigation */
    .nav--footer{
        margin-top: 15px;
    }


    /* Container */
    .container--logos{
        flex-wrap: wrap;
        justify-content: center;
    }


    /* Logo */
    .logo{
        width: 33%;
    }

    .logo:nth-child(n+4){
        margin-top: 20px;
    }

    .logo__img{
        margin: 0 auto;
    }


    /* Beggining */
    .beginning{
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-top: 170px;
        margin-bottom: 50px;
    }

    .beginning__title{
        margin: 0 auto 30px auto;
    }

    .beginning__title--footer{
        margin-bottom: 0;
    }

    .beginning__suptitle{
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }


    /* Banner */
    .banner__info{
        margin-right: 50px;
    }

    .banner__img{
        width: 300px;
        height: auto;
    }
    
    .banner__btn--team{
        width: 100%;
        text-align: center;
    }

    /* Cases */
    .cases__area{
        width: 270%;
        height: auto;
        background-color: transparent;
    }

    .cases__all{
        height: auto;
        width: 100vw;
        margin: 0;
        border-radius: 50px;
        margin-right: 35px;
        background-color: #191A23;
    }

    .cases__info{
        margin: 40px;
    }

    .cases__all:first-child{
        margin-left: 20px;
    }

    .cases__all:last-child{
        margin-right: 20px;
    }

    .cases__btn__text{
        font-size: 18px;
    }


    /* Footer */
    .footer__form__area{
        width: 90%;
    }

    .footer__form{
        width: 90%;
    }

    .footer__input{
        width: 100%;
    }
}

@media(max-width: 768px){
    /* Header */
    .header{
        margin-top: 30px;
    }

    .header--footer{
        margin-top: 50px;
    }

    .header__inner--footer{
        margin-top: 0;
    }


    /* Intro */
    .intro{
        margin-top: 35px;
    }

    .intro__info__title--unvisible{
        text-align: left;
    }


    /* Services */
    .services__widgets__lines__unit{
        flex-direction: column;
        align-items: start;
        height: 310px;
    }


    /* Begnning */
    .beginning{
        margin-top: 60px;
    }


    /* Widget */
    .widget__info__btn__img,
    .widget__info__btn{
        display: none;
    }

    .widget__info__btn__img--unvisible{
        display: block;
    }

    .widgets__info{
        height: auto;
        margin-bottom: 0;
    }

    .widgets__info--flex{
        display: block;
        height: auto;
    }
    
    .widgets__img{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 150px;
    }

    .widget__low{
        margin: 0 50px;
        margin-bottom: 50px;
        width: calc(100% - 100px);
    }


    /* Banner */
    .banner{
        margin-top: 50px;
    }

    .banner__img{
        display: none;
    }

    .banner__btn{
        font-size: 15px;
    }


    /* Work */
    .work__lines{
        height: 100px;
        border-radius: 60px;
    }

    .work__num{
        font-size: 35px;
    }

    .work__text{
        font-size: 15px;
    }

    .work__btn{
        width: 40px;
    }


    /* Team */
    .team__all{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }


    /* Navigation */
    .navigation{
        width: 70%;
    }

    .navigation__stars{
        text-align: center;
        width: 100%;
    }

    .nav--footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav__link--footer{
        width: auto;
        margin-right: 0;
        margin-bottom: 15px;
    }


    /* Fig */
    .slider__cards{
        width: 300%;
        justify-content: space-between;
    }


    /* Slider */
    .slider__card{
        width: 30%;
    }

    .slider__fig{
        width: 100%;
    }

    .fig{
        width: 100%;
    }


    /* Slider */
    .contact__form{
        width: 80%;
        margin: 60px auto 0 auto;
    }

    .contact__img{
        display: none;
    }


    /* Footer */
    .footer__all{
        height: 1100px;
    }
}


@media(max-width: 633px){
    /* Slider */
    .slider__text{
        margin: 30px;
    }

    .fig{
        height: 300px;
    }
}


@media(max-width: 480px){
    /* Header */
    .header__logo img{
        width: 150px;
    }


    /* Intro */
    .intro{
        margin: 15px 0;
    }

    .beginning__title--unvisible{
        display: flex;
    }

    .beginning__title--unvisible--first{
        margin-bottom: 0;
    }

    .beginning__title--visible{
        display: none;
    }


    .intro__info__suptitle{
        font-size: 17px;
        margin-top: 15px;
    }


    /* Logo */
    .logo{
        width: 50%;
    }

    .logo{
        margin-top: 20px;
    }

    .logo__img{
        height: 23px;
    }


    /* Widget */
    .widget__info__title{
        font-size: 20px;
        height: 32px;
    }


    /* Banner */
    .banner{
        margin-top: 50px;
    }

    .banner__info{
        height: 250px;
    }

    .banner__btn{
        font-size: 12px;
        padding: 15px 20px;
    }


    /* Work */
    .work__info{
        width: 80%;
    }

    .work__text{
        margin-right: 50px;
    }


    /* Slider */
    .slider__fig{
        height: auto;
    }

    .slider__info{
        margin-left: 40px;
    }


    /* Check */
    .check{
        flex-direction: column;
    }


    /* Footer */
    .footer__all{
        padding: 0 10px;
    }

    .footer__btn{
        font-size: 14px;
    }
}


@media(max-width: 400px){
    /* Slider */
    .slider{
        height: auto;
    }

    .slider__area{
        margin-top: 60px;
    }


    /* Navbigation */
    .navigation{
        display: none;
    }


    /* Fig */
    .fig{
        height: 350px;
    }
}


@media(max-width: 350px){
    /* Widget */
    .widgets__img{
        width: 120px;
    }

    .widget__info__btn__img{
        width: 30px;
        height: 30px;
    }
}


@media(max-width: 320px){
    h1{
        font-size: 38px;
    }

    h2{
        font-size: 30px;
    }

    h3{
        font-size: 20px;
    }

    h4{
        font-size: 16px;
    }

    p{
        font-size: 13px;
    }


    /* Services */
    .services__widgets__lines__unit{
        height: 250px;
    }


    /* Widget */
    .widgets__info{
        margin-left: 20px;
    }

    .widget__low{
        display: none;
    }

    .widget__info__btn__img{
        display: block;
        margin-top: 30px;
    }


    /* Banner */
    .banner__info{
        margin: 0 20px;
    }


    /* Cases*/ 
    .cases__info{
        margin: 25px;
    }

    .cases__btn__img{
        display: none;
    }


    /* Work */
    .work__lines{
        height: 70px;
        border-radius: 60px;
    }

    .work__num{
        font-size: 30px;
        margin-right: 10px;
    }

    .work__text{
        font-size: 10px;
    }

    .work__btn{
        width: 20px;
    }


    /* Team */
    .team__unit{
        height: 260px;
    }

    .team__info{
        margin-top: 50px;
    }

    .team__person__name{
        font-size: 14px;
    }

    .team__person__prof{
        font-size: 11px;
    }

    .team__person__description{
        font-size: 13px;
    }

    .team__img{
        width: 70px;
        height: auto;
    }

    hr{
        margin: 15px 0;
    }

    .team__share img{
        width: 20px;
        height: 20px;
    }

    
}
